main{
    height: auto;
}

.section-products{
    width: 80vw;
    height: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product-div{
    max-height: 100%;
}

.product-div figure{
    height: 50%;
}

.product-div article{
    height: 30%;
}

.product-div button{
    height: 20%;
}

.section-products > div{
    padding: 20px;
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow:  7px 7px 16px #c4c3c3, -7px -7px 16px #ffffff;
}

.checkbox[type="checkbox"] {
    transform: scale(1.5);
}

.figure-products > img{
    height: 160px;
}

.figure-products{
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-products{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

.buy-button{
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 2rem;
}

.article-products > p{
    text-align: center;
}

.click-me-prductpagina{
    margin-top: 20px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    border: 3px solid black;
    padding: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.article-products > a:hover{
    background: #EEEEEE;
}

.inputs{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.inputs > div{
    display: flex;
    gap: 10px;
    font-size: 2rem;
}

@media screen and (max-width: 500px){
    .inputs{
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
}